@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html {
    margin: 0;
    padding: 0;
    width: 100%;

}

body {
    background-color: #0f0e0e;
    width: 100%;
    margin: 0;
    padding: 0;
}




h1{
    color: white;
    font-family: "Oswald", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

h2 {
    color: #D9B08C;
    font-family: "Oswald", sans-serif;

}

.section-title-white {
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;

}




.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2rem;
    margin: 2rem 0 2rem;
}

.content {
    display: flex;
    margin:  0 30px 0;
}



.main-landing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-color: white;
    margin-top: 3rem;
    padding:0;
    height: 85vh;
    
}


.title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.title-image {
    width: 100%;
    max-width: 720px;
    height: auto;
    
}

button {
    margin: 0 5rem 0 5rem;
    padding: 0.75rem;
    background-color: #cda827;
    border-radius: 13px;
}

button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


button:hover {
    background-color: black;
    border: 2px solid #cda827;

}

button:hover a {
    color: white;
}

/* OUR PHILOSOPHY SECTION */
.our-philosophy {
    background-color: #f5f5f5;
}

.philosophy-icon {
    width: 50%;
    max-width: 700px;
    height: auto;
    order: 1
}

.philosophy-text-container {
    order: 2;
    display: flex;
}

.philosophy-text-paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* WHAT WE OFFER SECTION */
.what-we-offer {
    color: #f5f5f5;
}

.what-we-offer-text {
    margin: 0 30px 0;
}

.what-we-do {
    margin-right: 3rem;
}

.check-icon {
    color: rgb(0, 255, 0);
    padding: 5px 5px 0;
}

.x-icon {
    color: red;
    padding: 5px 5px 0;
}

/* LETS CONNECT SECTION */
.lets-connect {
    background-color: white;
}



.lets-connect-text-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    max-width: 50%;
    justify-content: center;
    order: 2;

}
.calendly-widget-container {
    width: 150%;
    height: 850px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5rem;
}

.calendly-inline-widget {
    width: 100%;
    height: 100%;
}




/* QUESTIONS SECTION */
.questions {
    color: white;
}

.email-link {
    text-decoration: none;
    color: white;
}

footer {
    padding: 4rem;
    border: solid 1px;
    border-color: white;
}



/* RESPONSIVE ADAPTATION*/

@media (max-width: 50rem) {


    .content {
        display: flex;
        flex-direction: column;
    }

    .title-text {
        margin-top: 7rem;
    }
    
    .title-image {
        margin: 2rem 0 2rem;
    }

    .philosophy-icon {
        width: 100%;
    }

    .lets-connect .content {
        align-items: center;
    }

    .calendly-widget-container {
        order: 2;
        width: 75%;
        min-width: 275px;
    }

    .calendly-inline-widget {
        width: 100%;
    }

    .lets-connect-text-container {
        margin: 0;
        padding: 0;
        max-width: 75%;
    }

}