html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    width: 100%;
}

nav {
    border-bottom: solid 1px;
    border-color: white;
}

h1{
    color: white;
}

h2 {
    color: #D9B08C;
}



.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2rem;
}

.content {
    display: flex;
    margin:  0 30px 0;
}



.main-landing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-color: white;
    margin: 0;
}

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.title-image {
    width: 100%;
    max-width: 720px;
    height: auto;
}

button {
    margin: 0 5rem 0 5rem;
    padding: 0.5rem;
    background-color: #cda827;
}


/* OUR PHILOSOPHY SECTION */
.our-philosophy {
    background-color: white;
}

.philosophy-icon {
    width: 50%;
    max-width: 700px;
    height: auto;
    order: 1
}

.philosophy-text-container {
    order: 2;
    display: flex;
}

.philosophy-text-paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* WHAT WE OFFER SECTION */
.what-we-offer {
    color: white;
}

.what-we-offer-text {
    margin: 0 30px 0;
}

.what-we-do {
    margin-right: 3rem;
}


/* LETS CONNECT SECTION */
.lets-connect {
    background-color: white;
}



.lets-connect-text-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    max-width: 50%;
    justify-content: center;
    order: 2;

}
.calendly-widget-container {
    width: 150%;
    height: 850px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5rem;
}

.calendly-inline-widget {
    width: 100%;
    height: 100%;
}




/* QUESTIONS SECTION */
.questions {
    color: white;
}

footer {
    padding: 4rem;
    border: solid 1px;
    border-color: white;
}



/* RESPONSIVE ADAPTATION*/

@media (max-width: 50rem) {


    .content {
        display: flex;
        flex-direction: column;
    }

    .philosophy-icon {
        width: 100%;
    }

    .lets-connect .content {
        align-items: center;
    }

    .calendly-widget-container {
        order: 2;
        width: 75%;
        min-width: 275px;
    }

    .calendly-inline-widget {
        width: 100%;
    }

    .lets-connect-text-container {
        margin: 0;
        padding: 0;
        max-width: 75%;
    }

}